<section>
<h1>About me</h1>
<p>
Sopran, urodzona w 1989 roku we Wrocławiu, swoje pierwsze lekcje śpiewu otrzymała w wieku 16 lat. Obecnie absolwentka Wydziału Wokalnego Akademii Muzycznej we Wrocławiu, w klasie śpiewu solowego prof. Danuty Paziuk-Zipser. W 2013 roku studiowała w Royal Conservatoire of The Hague pod kierunkiem Fransa Fiseliera i Alberta Bonnemy. Kształciła się również na kursach m.in. u prof. Ingrid Kremling, dr Christine Kluge czy prof. Teresy Żylis-Gary.</p>
<p>
Podczas swej nauki Alina aktywnie uczestniczy w koncertach regionu Dolnego Śląska i śpiewa jako solistka z orkiestrą m. in. na Festiwalu Wratislavia Cantans. Reprezentuje macierzystą uczelnię podczas uroczystości promocji doktorskich i innych. Dwukrotnie brała udział w centralnych koncertach letniej szkoły La Pellegrina (Republika Czeska), gdzie śpiewała jako solistka w operach Don Quichotte auf der Hochzeit des Comacho Telemanna i Les Indes Galantes Rameau. Doświadczenie sceniczne zdobyła również w partii Hanny z opery “Domek trzech dziewcząt” F. Schuberta oraz Donny Elwiry w Don Giovannim W. A. Mozarta.</p>

<p>
Alina interesuje się zarówno repertuarem muzyki dawnej jak i klasycznej. Jej pasją jest XIX-sto wieczna opera i pieśni romantyczne. Wykonuje utwory kompozytorów włoskich, niemieckich, polskich, rosyjskich i innych. Oprócz studiów wokalnych jest absolwentką Politechniki Wrocławskiej (2013) oraz Uniwersytetu w Utrechcie (2015).</p>

</section>
