// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

//$header-bg: #030500;
//$subtitle-color: #ffffff;
//$nav-bg: #030500;
//$nav-bg-front: #030500;
//$nav-bg-back: #030500;
//$sidebar-bg: #030500;
//$sidebar-link-color: #030500;
//$sidebar-link-color-hover: #030500;
//$footer-bg: #030500;
//$footer-bg-front: #030500;
//$footer-bg-back: #030500;

/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;


// ////////////////////////////////////////
// change the background colors
//
html {
  background: #030500 !important;
}
body {
  > div {
    background: #030500 !important;
    > div {
      background: #030500 !important;
      }
  }
}
$main-bg: #030500 !default;
$page-bg: #030500 !default;

// ////////////////////////////////////////
// change the header colors
//
$header-bg: #030500;
$title-color: #ffffff !default;
$text-color: #ffffff !default;
$text-color-light: #ffffff !default;
$subtitle-color: #ffffff !default;

// ////////////////////////////////////////
// change the nav bar
//
$nav-bg: #030500;
$nav-bg-front: #030500;
$nav-bg-back: #030500;
$nav-color: #ffffff;
$nav-color-hover: #ffffff !default;
$nav-border: #ffffff !default;
$nav-border-top: #ffffff !default;
$nav-border-bottom: #ffffff !default;
$nav-border-left: #ffffff !default;
$nav-border-right: #ffffff !default;


// ////////////////////////////////////////
// change the footer
//
$footer-color: #888 !default;
$footer-bg: #030500 !default;
$footer-bg-front: #030500 !default;
$footer-bg-back: #030500 !default;
$footer-color: darken($footer-bg, 38) !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-border-top: #030500 !default;
$footer-border-bottom: #030500 !default;
$footer-link-color: darken($footer-bg, 38) !default;
$footer-link-color-hover: darken($footer-color, 25) !default;
$page-border-bottom: #030500 !default;


// Extras :)
$sidebar-border: #030500;
